<!DOCTYPE HTML>
<html>
  <head>
    <title>BokChoy</title>
    
  </head>
  <body>
    <h1>Welcome to the <i>BokChoy.Com</i>  </h1>
    <p>This is the best website there is, for obvious reasons</p>
    <p> Log in to begin.</p>
    <input name="firstname" type="text">
    <button onclick="alert('Welcome!')">Log In!</button>
    
  </body>
</html>